<div class="modal hidden" data-modal-target="modal">

    <div class="modal-container">

    <div id="modal-close">
      <i class="bi bi-x-circle" data-action="click->modal#close"></i>
    </div>

      <div class="modal-btns">
      <% if current_user %>
        <% unless current_user.ratings.exists?(api_id: @movie.id) %>
          <%= link_to new_rating_path(api_id: @movie.id), class: "btn btn-success m-1" do %>
            <i class="bi bi-hand-thumbs-up"></i> Rate
          <% end %>
        <% else %>
          <%= link_to edit_rating_path(api_id: @movie.id), class: "btn btn-light m-1" do %>
            <i class="bi bi-hand-thumbs-up"></i> Update
          <% end %>
        <% end %>
      <% end %>

      <% if current_user.watched_films.where(watched: true).exists?(api_id: @movie.id) %>
        <%= button_to watched_path(api_id: @movie.id), method: :delete, class: "btn btn-danger" do %>
          <p>Unwatch</p>
        <% end %>
      <% else %>
        <%= button_to watched_path(api_id: @movie.id), class: "btn btn-success" do %>
          <p>Watched</p>
        <% end %>
      <% end %>

        <% if current_user.watchlists.exists?(api_id: @movie.id) %>
          <%= button_to watchlist_path(@movie.id), method: :delete, class: "btn btn-danger m-1" do %>
            <i class="bi bi-check"></i> Watchlist
          <% end %>
        <% else %>
          <%= button_to watchlists_path, method: :post, params: { id: @movie.id }, class: "btn btn-primary m-1" do %>
            <i class="bi bi-plus"></i> Watchlist
          <% end %>
        <% end %>
      </div>

    </div>
</div>
