<div class="container mt-4">

<div class="d-flex justify-content-around mb-3">
  <p class="selected">Movies</p>
  <p>Cast & Crew</p>
  <p>Users</p>
</div>

  <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search..." %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>

  <div class="my-3">
    <h2 class="mb-3">Recent Releases</h2>
    <% @movies.first(10).each do |movie| %>
      <div class="list__card">
        <div class="img__wrapper">
          <% if movie.poster_path.present? %>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%= movie.poster_path %>" alt="<%= movie.title %>">
          <% else %>
            <p class="no-poster">NO POSTER</p>
          <% end %>
        </div>
        <div class="film__detail">
          <span class="title__wrapper">
            <%= link_to movie.title, movie_path(movie.id), class: "card__link" %>
            <small><%= format_date(movie.release_date) %></small>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-3">
    <h2 class="mb-3">People</h2>
    <% @people.first(10).each do |person| %>
      <% if @people.any? %>
        <p><%= person.name %></p>
      <% else %>
        <p class="no-poster">NO PEOPLE</p>
      <% end %>
    <% end %>
  </div>

  <div class="my-3">
    <h2 class="mb-3">Users</h2>
    <% @users.first(10).each do |user| %>
      <% if @users.any? %>
        <p><%= link_to user.username, user_path(user) %></p>
      <% else %>
        <p class="no-poster">NO USERS</p>
      <% end %>
    <% end %>
  </div>

</div>
