<div class="movie-cover" style="background: linear-gradient(180deg,rgba(20,24,28,0) 0,rgba(20,24,28,0) 50%,rgba(20,24,28,.75) 75%,#14181c),url(https://www.themoviedb.org/t/p/w1920_and_h1080_bestv2<%= @movie.backdrop_path %>) center/cover no-repeat">
    <% if user_signed_in? && current_user.movie_ids.exclude?(@movie.id) %>
      <%= link_to "Rate", new_movie_rating_path(@movie), id: "rating", class: "btn btn-primary" %>
    <% end %>
</div>

<section class="film__header d-flex justify-content-between p-2">
  <div>
    <h1><%= @movie.title %></h1>
    <small><%= format_date(@movie.release_date) %> | DIRECTED BY</small>
      <div class="mb-2">
        <% @tmdb_crew.each do |crew| %>
          <% if crew.job == "Director" %>
            <%= crew.name %><br>
          <% end %>
        <% end %>
      </div>
  </div>
  <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%= @movie.poster_path %>" alt="" class="poster-show">
</section>

<section class="p-2">
  <% if @movie.tagline %>
    <strong><%= @movie.tagline.upcase %></strong>
  <% end %>
  <p><%= @movie.synopsis %></p>
</section>


<div data-controller="tabs">
  <header class="movie-options">
    <small data-action="click->tabs#showCast">Cast</small>
    <small data-action="click->tabs#showCrew">Crew</small>
    <small data-action="click->tabs#showGenres">Genres</small>
  </header>


  <section class="genres" data-tabs-target="genres">
    <h4>Genres</h4>
      <% @movie.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
  </section>

  <section class="cast" data-tabs-target="cast">
    <h4>Cast</h4>
    <% @tmdb_cast.first(10).each do |cast| %>
      <p><%= cast.name %> - <%= cast.character %></p>
    <% end %>
  </section>

  <section class="crew" data-tabs-target="crew">
    <h4>Crew</h4>
    <% @tmdb_crew.each do |crew| %>
      <p><%= crew.job %> - <%= crew.name %></p>
    <% end %>
  </section>
</div>
