<div class="movie-cover" style="height: 300px; background: url(<%= @movie.cover %>) center/cover no-repeat"></div>

<div class="container mt-3">
  <h1><%= @movie.title %> (<%= format_date(@movie.year) %>)</h1>
  <p><%= @movie.synopsis %></p>
  <p><%= @movie.genres.join(", ") if @movie.genres %></p>

  <div class="container my-3">
  <h3>Cast</h3>
    <% @cast.first(5).each do |cast| %>
      <p><%= cast.name %> - <%= cast.character %></p>
    <% end %>
  </div>

  <div class="container my-3">
  <h3>Crew</h3>
    <% @crew.each do |crew| %>
      <% if crew.job == "Director" %>
        <p><%= crew.job %>: <%= crew.name %></p>
      <% end %>
    <% end %>
  </div>

  <img src="<%= @movie.poster_url %>" alt="">

  <div class="my-3">
    <% if user_signed_in? && current_user.movie_ids.exclude?(@movie.id) %>
      <%= link_to "New Rating", new_movie_rating_path(@movie), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
