<div class="container mt-5">
  <div class="movie-cover" style="height: 300px; background: url(<%= @movie.cover %>)">
  </div>
  <h1><%= @movie.title %> (<%= @movie.year.strftime('%Y') %>)</h1>
  <p><%= @movie.synopsis %></p>
  <img src="<%= @movie.poster_url %>" alt="">

  <hr>
  <br>
  <div>
    <% if current_user.movie_ids.exclude?(@movie.id) %>
      <%= link_to "New Rating", new_movie_rating_path(@movie), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
