<div class="container">
  <div class="user-info my-4">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, id: "user-avatar" %>
    <% else %>
      <img id="user-avatar" src="<%= @default %>" alt="">
    <% end %>
    <div class="d-flex flex-column">
      <h1><%= @user.username %></h1>
<% if @user != current_user %>
  <% if current_user.followings.include?(@user) %>
    <%= button_to "Unfollow", user_follow_path(@user), class: "btn btn-danger", method: :delete %>
  <% else %>
    <%= button_to "Follow", user_follows_path(@user), class: "btn btn-success", method: :post %>
  <% end %>

<% else %>
  <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-dark" %>

<% end %>
    </div>
  </div>

  <div class="stats mb-4">
    <h4 style="display: none">
      <a href="#">
        <small>FILMS</small>
        <span>5</span>
      </a>
    </h4>

    <h4>
      <p href="#">
        <small>WATCHLIST</small>
        <span><%= @user.watchlists.size %></span>
      </p>
    </h4>

    <h4>
      <%= link_to user_following_path(current_user) do %>
        <small>FOLLOWING</small>
        <span><%= @user.followings.size %></span>
      <% end %>
    </h4>

    <h4>
      <%= link_to user_followers_path(current_user) do %>
        <small>FOLLOWERS</small>
        <span><%= @user.followers.size %></span>
      <% end %>
    </h4>
  </div>

  <hr>

  <div class="container my-3">
    <% if @ratings.present? %>
    <table class="table table-striped mt-3">
      <thead>
          <th>Rank</th>
          <th>Movie</th>
          <th>Year</th>
          <th>Rating</th>
        </tr>
      </thead>
        <tbody>
          <% @ratings.each_with_index do |rating, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to tmdb_movie(rating.api_id).title, movie_path(rating.api_id) %></td>
              <td><%= format_date(tmdb_movie(rating.api_id).release_date) %></td>
              <td><%= rating.total_score %></td>
            </tr>
          <% end %>
      <% else %>
          <p class="py-3">You have not rated any movies yet.</p>
      <% end %>
        </tbody>
    </table>
  </div>

</div>
