<div class="container mt-3 mb-5" data-controller="form">

  <%= link_to "Delete", user_rating_path(@rating), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger mb-3" %>

  <h1>Rate <%= @movie.title %></h1>

    <%= simple_form_for @rating do |f| %>

      <div class="mt-3">
        <label for="rating_story">Story: <span>5</span></label>
        <%= f.input :story, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_acting">Acting: <span>5</span></label>
        <%= f.input :acting, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_dialog">Dialog: <span>5</span></label>
        <%= f.input :dialog, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_cinematography">Cinematography: <span>5</span></label>
        <%= f.input :cinematography, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_soundtrack">Soundtrack: <span>5</span></label>
        <%= f.input :soundtrack, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_style">Asthetics: <span>5</span></label>
        <%= f.input :style, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_pacing">Pacing: <span>5</span></label>
        <%= f.input :pacing, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_originality">Originality: <span>5</span></label>
        <%= f.input :originality, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_characters">Characters: <span>5</span></label>
        <%= f.input :characters, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <div>
        <label for="rating_enjoyment">Enjoyment: <span>5</span></label>
        <%= f.input :enjoyment, label: false, class: "form-range", input_html: { type: "range", min: "0", max: "10", data: { action: "change->form#update", form_target: "slider" } } %>
      </div>

      <%= f.hidden_field :api_id, value: @movie.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit class: "btn btn-primary mt-3" %>
    <% end %>
  </div>

</div>
