<div class="container">
  <%= render "users/user" %>
  <hr>
  <h1><%= tmdb_movie(@rating.api_id).title %></h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Acting:</td>
        <td><%= @rating.acting %></td>
      </tr>
      <tr>
        <td>Dialog:</td>
        <td><%= @rating.dialog %></td>
      </tr>
      <tr>
        <td>Cinematography:</td>
        <td><%= @rating.cinematography %></td>
      </tr>
      <tr>
        <td>Soundtrack:</td>
        <td><%= @rating.soundtrack %></td>
      </tr>
      <tr>
        <td>Style:</td>
        <td><%= @rating.style %></td>
      </tr>
      <tr>
        <td>Pacing:</td>
        <td><%= @rating.pacing %></td>
      </tr>
      <tr>
        <td>Originality:</td>
        <td><%= @rating.originality %></td>
      </tr>
      <tr>
        <td>Characters:</td>
        <td><%= @rating.characters %></td>
      </tr>
      <tr>
        <td>Enjoyment:</td>
        <td><%= @rating.enjoyment %></td>
      </tr>
    </tbody>
  </table>

    <h3 class="my-3">Overall Score: <%= @rating.total_score %></h3>

</div>
